<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Teacher courses</title>

    <link href="/static/css/userPage.css" rel="stylesheet">
    <link href="/static/css/header.css" rel="stylesheet">
    <link href="/static/css/table.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

</head>
<body>

<div th:replace="fragments/nav-teacher.html :: nav-teacher"></div>

<div class="container p-3">

    <div th:switch="${topics}" id="table">
        <div th:case="*">
            <h2>My Courses</h2>
            <table id="incomes_table" class="table table-bordered">
                <thead>
                <tr class="table-success">
                    <th class="table-th">Course name</th>
                    <th class="table-th">Topic name</th>
                    <th class="table-th">Duration</th>
                    <th class="table-th">Students amount</th>
                    <th class="table-th">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course, iter:${courses.page}">
                    <!--                    <th:block th:if="${course.getStatus() == 'FINISH'}">-->
                    <td><a th:href="@{/courses/course/{id} (id=${course.getId})}" th:text="${course.getName()}"/></td>
                    </td>
                    <td th:text="${course.getTopic().getName()}"/>
                    </td>
                    <td th:text="${course.getDuration()}"/>
                    <td th:text="${course.getStudentsAmount()}"/>
                    <td th:text="${course.getStatus()}"/>
                </tr>
                </tbody>
            </table>

            <!------ Paging ------->
            <div class="con-pagination">
                <nav aria-label="Page navigation" class="paging">
                    <ul class="pagination" th:if="${courses.page.totalPages > 1}">
                        <li class="page-item" th:classappend="${!courses.paging.isPrevEnabled()? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{'/courses?pageNumber=' + ${courses.paging.pageNumber - 1} + '&name='+${name} }"
                               tabindex="-1">Previous</a>
                        </li>
                        <th:block th:each="item : ${courses.paging.getItems()}">
                            <li class="page-item"
                                th:classappend="${item.index == courses.paging.pageNumber? 'active' : ''}"
                                th:if="${item.pageItemType.name() == 'PAGE'}">
                                <a class="page-link"
                                   th:href="@{'/courses?pageNumber=' + ${item.index} + '&name='+${name}}"
                                   th:text="${item.index}"></a>
                            </li>
                            <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                <a class="page-link" href="#">...</a>
                            </li>
                        </th:block>
                        <li class="page-item" th:classappend="${!courses.paging.isNextEnabled()? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{'/courses?pageNumber=' + ${courses.paging.pageNumber + 1} + '&name='+${name}}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!------- Paging ------>

        </div>
    </div>
</div>

<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>