<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>All topics</title>

    <link href="/static/css/userPage.css" rel="stylesheet">
    <link href="/static/css/header.css" rel="stylesheet">
    <link href="/static/css/table.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

</head>
<body>

<div th:replace="fragments/nav-admin.html :: nav-admin"></div>

<div th:switch="${students}" id="table">
    <div th:case="*">
        <h2>All Students</h2>
        <table id="incomes_table" class="table table-bordered">
            <thead>
            <tr class="table-success">
                <th class="table-th">Name</th>
                <th class="table-th">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student, iter:${students.page}">
                <td th:text="${student.firstName} + ' ' + ${student.secondName} + ' ' + ${student.lastName}"
                    class="table-success"></td>
                <td class="edit-delete"><a>Block</a></td>
            </tr>
            </tbody>
        </table>

        <!------ Paging ------->
        <div class="con-pagination">
            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${students.page.totalPages > 1}">
                    <li class="page-item" th:classappend="${!students.paging.isPrevEnabled()? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{'/students?pageNumber=' + ${students.paging.pageNumber - 1} + '&name='+${name} }"
                           tabindex="-1">Previous</a>
                    </li>
                    <th:block th:each="item : ${students.paging.getItems()}">
                        <li class="page-item"
                            th:classappend="${item.index == students.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link"
                               th:href="@{'/students?pageNumber=' + ${item.index} + '&name='+${name}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${!students.paging.isNextEnabled()? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{'/students?pageNumber=' + ${students.paging.pageNumber + 1} + '&name='+${name}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!------- Paging ------>
    </div>
</div>

<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>