<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
<div th:fragment="add-topic">

    <h1>Add a new topic</h1>
    <form action="#" th:action="@{/topic/add}" th:object="${topic}" method="post" class="form">
        <div class="form-group">
            <label for="name">Topic name *</label>
            <input class="form-control" type="text" th:field="*{name}" id="name"
                   placeholder="Enter topic name">
            <div th:if="${#fields.hasErrors('name')}">
                <div class="alert alert-danger">Invalid name.</div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>

</div>
</html>
