<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <title>About us</title>
</head>
<body>
<!-- NAVBAR -->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Faculty Site</a>
        </div>
        <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="nav-item" active>
                    <a class="nav-link link-light" th:href="@{/courses}">Courses</a>
                </li>
                <li class="nav-item" active>
                    <a class="nav-link link-light" th:href="@{/about}">About us</a>
                </li>
                <li class="nav-item" active>
                    <a class="nav-link link-light" th:href="@{/contacts}">Contact info</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/login}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"> Choose language
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="?lang=ua">ua</a>
                        <a class="dropdown-item" href="?lang=en">en</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- NAVBAR -->
<br>
<br>

<div class="container">

    <div id="background-info">
        <div class="jumbotron p-3 p-md-5 text-black ">
            <div class="col-md-6 px-0">
                <h1 class="display-6 font-italic">Welcome to CountMoney!</h1>
                <p class="lead my-3">This app will help you control your incomes and
                    outgoings. You can use it with
                    your friends and family.</p>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>