<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Message page reset password</title>

    <link href="/static/css/header.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

</head>
<body>

<div th:replace="fragments/nav-all.html :: nav-all"></div>

<div style="text-align: center;">
    <h1> Reset your password</h1>
    <br>
    <span><h3>You have successfully change your password!</h3></span>
</div>

</body>
</html>